/* nav specialized to landing page */
.logo {
  background: url('logo.svg') no-repeat;
  background-size: contain;
  margin: 1rem 0 0 1rem;
}

nav {
  background-color: var(--white-color);
}

/* hero section */
.hero {
  text-align: center;
  background-color: var(--light-gray-color);
  padding: 1rem 0 1rem 0;
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
}

.hero__description {
  margin: -1rem auto 2rem auto;
}

/* feature section */
.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 1rem 4rem 1rem 4rem;
  background-color: var(--white-color)
}

.feature__item {
  max-width: calc(50% - 20px);
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}

.feature__qualifications {
  background-color: var(--light-gray-color);
}

/* nestedlist section */
.nestedlist {
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.nestedlist__header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nestedlist__item {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nestedlist__title {
  display: flex;
  margin-bottom: 0;
}

@media (max-width: 750px) {
  .hero__terminal {
    width: 70%;
  }
  .feature, .keybinding, .nestedlist__item {
    flex-direction: column;
  }
  .feature__item {
    max-width: 100%;
    margin: 0;
  }
}